@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-h-screen bg-portal-bg;
}

#root {
  @apply min-h-screen;
}

/* Hide arrows in Webkit-based browsers (Chrome, Safari) */
.hide-number-input-arrows::-webkit-outer-spin-button,
.hide-number-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
.hide-number-input-arrows {
  -moz-appearance: textfield;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-datepicker-popper,
.react-datepicker__header {
  @apply bg-white !important;
}

.react-datepicker__triangle {
  font-family: "Public Sans", sans-serif !important;
  @apply fill-white text-white !important;
}

.react-datepicker__year-text--selected {
  @apply font-medium text-white text-lg bg-green-base !important;
}

.react-datepicker__year--container {
  div:not(.react-datepicker__year-text--selected) {
    @apply text-grey-dark-1 bg-white text-lg font-normal !important;
  }
}

.react-datepicker__year-wrapper {
  @apply max-w-52 !important;
}

div[tabindex="-1"]:not(.react-datepicker__year-text--disabled):hover {
  @apply bg-light-green text-green-base !important;
}

.react-datepicker__navigation {
  @apply grid place-content-center size-6 mt-2 bg-light-green text-green-base rounded !important;
}

.react-datepicker__navigation--previous {
  @apply ml-5 !important;
}

.react-datepicker__navigation-icon--previous {
  @apply before:border-green-base before:mr-[3px] before:mt-0.5 !important;
}

.react-datepicker__navigation--next {
  @apply mr-5 !important;
}

.react-datepicker__navigation-icon--next {
  @apply before:border-green-base before:ml-[3px] before:mt-0.5 !important;
}

.react-datepicker__year--container > .react-datepicker-year-header {
  @apply font-semibold text-xl text-grey-dark-1 !important;
}

div[tabindex="-1"]:has(.react-datepicker__year-text--disabled) {
  @apply text-grey-dark-2 cursor-not-allowed !important;
}
