@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-h-screen bg-portal-bg;
}

#root {
  @apply min-h-screen;
}

/* Hide arrows in Webkit-based browsers (Chrome, Safari) */
.hide-number-input-arrows::-webkit-outer-spin-button,
.hide-number-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
.hide-number-input-arrows {
  -moz-appearance: textfield;
}
